@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto+Slab:wght@300;400&display=swap");

/*Roboto Condensed 300 400 700
Roboto Slab 300 300
*/
* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 80%;
  min-height: 100vh;
  background: rgb(239, 202, 254);
  display: grid;
  grid-template-columns: 30% 70%;
  margin: auto;
  font-family: "Roboto Condensed", sans-serif;
}
.nav {
  background: rgb(208, 164, 226);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.create_task{
  background: #ab49d2;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}

.menu{
  display: block;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  background: rgba(171, 73, 210, .2);
  border-radius: 10px;
}
.menu:hover{
  
  background: #ab49d2;
}

.create_task button{
  border: none;
  background: transparent;
  font-weight: 700;
  cursor: pointer;
}

.task_form{
  width: 400px;
  position: fixed;
  background-color: aliceblue;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 15px;
  display: none;
}
.task_form h4{
  text-align: center;
  line-height: 3;
  text-transform: uppercase;
  color: red;
  display: none;
}
input{
  margin: 10px;
  padding: 10px 5px;
  width: 85%;
}
.form_btns{
  display: flex;
  justify-content: flex-end;
  gap: 10px;

}
.submit{
  padding: 10px;
  border-radius: 10px;
  border-color: transparent;
  background-color: #ca80e8;
  cursor: pointer;
  
}

.menu_icon{
  display: none;
}
.hero .hero_details{
    display: flex;
    align-items: center;
    
    
}

.task_list{
  margin: 10px;
}
.task{
  display: grid;
  grid-template-columns: 15% 70% 15%;
  padding: 15px;
  margin-bottom: 15px;
  align-items: center;
  background: rgba(208, 164, 226, 0.8);
  border-radius: 15px;
}

.task-completed{
  background: rgba(208, 164, 226, 0.2);

}

.task-completed .title,
.task-completed .desc,
.task-completed .date
{
  opacity: 0.2;
}

.completed_btn{ 
  display: flex;
  justify-content: center;
}
.checkbox{
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0 auto;
accent-color:rgb(208, 164, 226);;
  
}
.task_details{
padding: 0 10px;
}

.title{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: rgb(55, 53, 53);
  
}
.desc{
  line-height: 2;
  font-size: 1.2rem;
  color: rgb(80, 80, 80);

}
.date{
  color: rgb(80, 80, 80);
  font-size: 0.8rem;
}
.side{
  
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.side span svg{
  width: 30px;
  height: 30px;

  cursor: pointer;
  
}
.side span svg:hover{
  opacity: 1;
  
}
.open{
  display: block;
  position: fixed;
  top: 8%;
  left: 8%;
  width: 70%;
  background-color:rgb(119, 16, 209);
}
.open .menu{
  border-radius: 0;
  color: whitesmoke;
}


@media  screen and (max-width:750px) {

  .wrapper{
    width: 95%;
    border-radius: 10px;
  
  }
  .hero .hero_details{
    padding-left: 10px;
  } 
  .hero .hero_details img{
    width: 150px;
      }
      .hero_details h2{
        padding-left: 10px;
      }
      .task_form{
        width: 80%;
      }
  
}
@media  screen and (max-width:450px) {
  
  .wrapper{
    grid-template-columns: 100%;
  }
  .nav{
    display: none;
  }
 
  /*.create_task{
    display: block;
    position: fixed;
    right: 50%;
    left: 50%;
    transform: translate(-50% -50%);
  }*/

  .menu_icon{ 
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    width: 100%;
  }
  .menu_icon svg{
    margin-right: 15px;
    
  }
  
}